<a href="https://colab.research.google.com/github/k4kirin/mofsxml/blob/main/MOFsxML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MOFs x ML Project**


Written by Kirin and Ohm


**Import the necessary library**

In [ ]:
!git clone -b master https://github.com/k4kirin/mofsxml

Cloning into 'mofsxml'...
remote: Enumerating objects: 68621, done.
remote: Counting objects: 100% (68621/68621), done.
remote: Compressing objects: 100% (68618/68618), done.
remote: Total 68621 (delta 2), reused 68615 (delta 2), pack-reused 0
Receiving objects: 100% (68621/68621), 267.75 MiB | 19.60 MiB/s, done.
Resolving deltas: 100% (2/2), done.
Checking out files: 100% (68613/68613), done.

In [ ]:
!pip install ase
import pandas as pd
import numpy as np
import requests
import copy

from ase.io import read

Collecting ase
  Downloading ase-3.22.0-py3-none-any.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 7.6 MB/s
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from ase) (1.19.5)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from ase) (3.2.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from ase) (1.4.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->ase) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->ase) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->ase) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->ase) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.1.0->ase) (1.15.0)
Installing collected packages: ase
Successfully installed ase-3.22.0

**Read the CSV (data) file from the github repository**

For a single file, it can be easily upload to the github repository on the website. However, if there are too many file like 70k cif file which we need for surface area calculation. There are more steps: add origin >> add * >> commit >> push.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/k4kirin/mofsxml/main/train.csv',keep_default_na=True)

**Display the data from the previous step**

*see* the first 10 data in the dataset

In [ ]:
df.head(10)

       MOFname  ...  CO2_working_capacity [mL/g]
0   mof_unit_1  ...                   105.284502
1   mof_unit_2  ...                   101.224774
2   mof_unit_3  ...                   118.987011
3   mof_unit_4  ...                   187.626004
4   mof_unit_5  ...                    79.210001
5   mof_unit_6  ...                    55.786959
6   mof_unit_7  ...                   111.690462
7   mof_unit_8  ...                    58.989774
8   mof_unit_9  ...                   135.587108
9  mof_unit_10  ...                    59.739057

[10 rows x 14 columns]

In [ ]:
#Preprocessing!!
df = pd.read_csv('https://raw.githubusercontent.com/k4kirin/mofsxml/main/train.csv',keep_default_na=True)

# remove rows when both void_fraction and void_volume == 0
before = len(df.index)
df = df.drop(df[(df.void_fraction == 0) & (df['void_volume [cm^3/g]'] == 0)].index)
print("removed",before - len(df.index),"rows")

# remove NaN rows
df.dropna()

# remove void_volume column
df = df.drop('void_volume [cm^3/g]',1)

# enumerate functional_groups & topology
col = ["functional_groups", "topology"]
for i in col:
    df[i] = df[i].astype("category").cat.codes

removed 2874 rows

In [ ]:
#TODO: fill in surface_area with values from that function if == 0
# default global numbers
E = 1e-3
PI = np.pi
angstrom = 1e-10

vdw_radii = {'H': 1.1, 'He': 1.4, 'Li': 1.82, 'Be': 1.53, 'B': 1.92, 'C': 1.7, 'N': 1.55, 
            'O': 1.52, 'F': 1.47, 'Ne': 1.54, 'Na': 2.27, 'Mg': 1.73, 'Al': 1.84, 'Si': 2.1, 
            'P': 1.8, 'S': 1.8, 'Cl': 1.75, 'Ar': 1.88, 'K': 2.75, 'Ca': 2.31, 'Sc': 2.15, 'Ti': 2.11, 
            'V': 2.07, 'Cr': 2.06, 'Mn': 2.05, 'Fe': 2.04, 'Co': 2.0, 'Ni': 1.97, 'Cu': 1.96, 'Zn': 2.01, 
            'Ga': 1.87, 'Ge': 2.11, 'As': 1.85, 'Se': 1.9, 'Br': 1.85, 'Kr': 2.02, 'Rb': 3.03, 'Sr': 2.49, 
            'Y': 2.32, 'Zr': 2.23, 'Nb': 2.18, 'Mo': 2.17, 'Tc': 2.16, 'Ru': 2.13, 'Rh': 2.1, 'Pd': 2.1, 
            'Ag': 2.11, 'Cd': 2.18, 'In': 1.93, 'Sn': 2.17, 'Sb': 2.06, 'Te': 2.06, 'I': 1.98, 'Xe': 2.16, 
            'Cs': 3.43, 'Ba': 2.68, 'La': 2.43, 'Ce': 2.42, 'Pr': 2.4, 'Nd': 2.39, 'Pm': 2.38, 'Sm': 2.36, 
            'Eu': 2.35, 'Gd': 2.34, 'Tb': 2.33, 'Dy': 2.31, 'Ho': 2.3, 'Er': 2.29, 'Tm': 2.27, 'Yb': 2.26, 
            'Lu': 2.24, 'Hf': 2.23, 'Ta': 2.22, 'W': 2.18, 'Re': 2.16, 'Os': 2.16, 'Ir': 2.13, 'Pt': 2.13,
            'Au': 2.14, 'Hg': 2.23, 'Tl': 1.96, 'Pb': 2.02, 'Bi': 2.07, 'Po': 1.97, 'At': 2.02, 'Rn': 2.2, 
            'Fr': 3.48, 'Ra': 2.83, 'Ac': 2.47, 'Th': 2.45, 'Pa': 2.43, 'U': 2.41, 'Np': 2.39, 'Pu': 2.43, 
            'Am': 2.44, 'Cm': 2.45, 'Bk': 2.44, 'Cf': 2.45, 'Es': 2.45, 'Fm': 2.45, 'Md': 2.46, 'No': 2.46, 
            'Lr': 2.46}
def get_box_parameters(cifname):
    """
    ดึงข้อมูลพารามิเตอร์ของ Unit Cell ของ MOF

    cifname : CIF file
    """
    content = open(cifname, 'r').readlines()
    for line in content:
        if "_cell_length_a" in line:
            a = float(line.split()[1])
        if "_cell_length_b" in line:
            b = float(line.split()[1])
        if "_cell_length_c" in line:
            c = float(line.split()[1])
        if "_cell_angle_alpha" in line:
            alpha_r = float(line.split()[1]) * PI / 180.0
        if "_cell_angle_beta" in line:
            beta_r = float(line.split()[1]) * PI / 180.0
        if "_cell_angle_gamma" in line:
            gamma_r = float(line.split()[1]) * PI / 180.0

    return a, b, c, alpha_r, beta_r, gamma_r
def get_box_matrix(cifname):
    """
    คำนวณ Unit Cell Matrix 

    cifname : CIF file
    """
    a, b, c, alpha_r, beta_r, gamma_r = get_box_parameters(cifname)

    a_x = a
    a_y = 0.0
    a_z = 0.0
    b_x = b * np.cos(gamma_r)
    b_y = b * np.sin(gamma_r)
    b_z = 0.0
    c_x = c * np.cos(beta_r)
    c_y = (b * c * np.cos(alpha_r) - b_x * c_x) / b_y
    c_z = np.sqrt(c**2 - c_x**2 - c_y**2)

    cell_matrix = np.matrix([
        [a_x, a_y, a_z], 
        [b_x, b_y, b_z], 
        [c_x, c_y, c_z]], 
        dtype=float)

    crs = np.cross([b_x, b_y, b_z], [c_x, c_y, c_z])
    inverse_matrix = cell_matrix.I
    unit_cell_volume = a_x * crs[0] + a_y * crs[1] + a_z * crs[2]
    
    return cell_matrix, inverse_matrix, unit_cell_volume
def get_atomic_coordinates(cifname):
    """
    ดึงข้อมูล atomic symbol และ Cartesian coordinates
    """
    ase_atoms = read(cifname)
    return ase_atoms.get_chemical_symbols(), ase_atoms.get_positions()
def RandomNumberOnUnitSphere():
	thetha = 0.0
	phi = 0.0
	theta = 2*PI*np.random.random_sample()
	phi = np.arccos(2*np.random.random_sample()-1.0)
	x = np.cos(theta)*np.sin(phi)
	y = np.sin(theta)*np.sin(phi)
	z = np.cos(phi)
	
	return x,y,z
def _dot_product(unit_cell_matrix, atom_positions):
    s_x = unit_cell_matrix.item(0) * atom_positions[0] + unit_cell_matrix.item(3) * atom_positions[1] + unit_cell_matrix.item(6) * atom_positions[2]
    s_y = unit_cell_matrix.item(1) * atom_positions[0] + unit_cell_matrix.item(4) * atom_positions[1] + unit_cell_matrix.item(7) * atom_positions[2]
    s_z = unit_cell_matrix.item(2) * atom_positions[0] + unit_cell_matrix.item(5) * atom_positions[1] + unit_cell_matrix.item(8) * atom_positions[2]
    new_coord = np.array([s_x, s_y, s_z], float)
    
    return new_coord
def ApplyBoundaryConditions(vec2, pos, cell_matrix, inverse_matrix):
	w = [0,0,0]
	x = [0,0,0]
	vec2 = copy.deepcopy(np.asarray(vec2))
	inverse_matrix2 = copy.deepcopy(np.asarray(inverse_matrix))
	fractional = _dot_product(inverse_matrix, vec2)
	# apply boundary conditions
	x[0] = fractional[0] - np.rint(fractional[0])
	x[1] = fractional[1] - np.rint(fractional[1])
	x[2] = fractional[2] - np.rint(fractional[2])
	cartesian = _dot_product(cell_matrix,x)
	
	return cartesian
def CheckSurfaceAreaOverlap(pAtom, pos, cell_matrix, atom_type, vdW_pAtom, fAtom_b, inverse_matrix):
	"""
	ตรวจสอบว่า Probe กับอะตอมซ้อนทับกันไหม
	"""
	well_depth_factor = 1.0
	fAtom_o = [0,0,0]
	distance = [0,0,0]
	# start enumerating all atoms in the object
	for i, elem in enumerate(pos):
		fAtom_o = copy.deepcopy(elem)
		if not np.array_equal(fAtom_o,fAtom_b):
			vdW_fAtom = vdw_radii.get(atom_type[i])
			equilibrium_distance = well_depth_factor * 0.5 * (vdW_pAtom + vdW_fAtom)
			fAtom_o = _dot_product(cell_matrix,fAtom_o)
			distance[0] = pAtom[0] - fAtom_o[0]
			distance[1] = pAtom[1] - fAtom_o[1]
			distance[2] = pAtom[2] - fAtom_o[2]
			dr = ApplyBoundaryConditions(distance, pos, cell_matrix, inverse_matrix)
			rr = (dr[0] * dr[0]) + (dr[1] * dr[1]) + (dr[2] * dr[2])
			if rr < (equilibrium_distance * equilibrium_distance):
				return True
				
	return False
def gsa(atom_type, pos, cell_matrix, inverse_matrix, unit_cell_volume, probe_diameter=1.0, nSample=20, equilibrium_distance=0.0, InsertTypeOfAtoms=None):
	
	"""
	Computes geometric surface area (GSA) of atoms. Return GSA in m^2/cm^3.

	atom_type : type of atom
	pos : coordinates
	cell_matrix : Crystall cell matrix (A, B, C)
	inverse_matrix: Inverse of crystall cell matrix
	probe_diameter : Diameter of a probe
	nSample : Number of sample probes
	equilibrium_distance = Equilibrium distance upon probe and atom in structure
	InsertTypeOfAtoms = Type of atom insert
	"""
	total = 0.0
	counted = 0.0
	vec = []
	examined_coordinates = []
	SurfaceAreaAverage = 0.0
	well_depth_factor = 1.0
	
	# start enumerating all atoms in the framework
	for i, elem in enumerate(atom_type):
		total=0.0
		counted=0.0
		if np.linalg.norm([pos[i][0], pos[i][1], pos[i][2]]) not in examined_coordinates:
			# check atomType to see if we want to insert probes around the atom
			if InsertTypeOfAtoms is atom_type[i]:
				vdW_fAtom = vdw_radii.get(elem)
				# Lorentz rule of mixing hard spheres 
				equilibrium_distance = well_depth_factor * (0.5 * (probe_diameter + vdW_fAtom))
				# start MC sampling for a given #
				for attempt in range(nSample):
					pAtom = np.array([0.0, 0.0, 0.0], float)
					total += 1
					# find a random number around the sphere
					vec = RandomNumberOnUnitSphere()
					# calculate the coordinates of the center of probe using vec and equilibrium distance
					pAtom[0] = pos[i][0]+vec[0]*equilibrium_distance
					pAtom[1] = pos[i][1]+vec[1]*equilibrium_distance
					pAtom[2] = pos[i][2]+vec[2]*equilibrium_distance
					# store the x,y,z coordinates of probe in an array
					vec2 = np.array([pAtom[0], pAtom[1], pAtom[2]])
					# check for the overlap between probe and the other framework atoms
					overlap = CheckSurfaceAreaOverlap(pAtom, pos, cell_matrix, atom_type, probe_diameter, pos[i], inverse_matrix)
					if not overlap:
						counted += 1

				# print("fraction of insertion near", atom_type[i], "is", counted/total)
				tmp = (counted/total)*4.0*PI*(equilibrium_distance * equilibrium_distance)

				SurfaceAreaAverage += tmp
				tmp2 = np.array([pos[i][0], pos[i][1], pos[i][2]])
				examined_coordinates.append(np.linalg.norm(tmp2))

	# print ("Surface Area in Ang^2: ", SurfaceAreaAverage)
	# print ("volume of unit cell: ", unit_cell_volume)
	# print ("Surface Area in m^2/cm^3: ", 1e4*SurfaceAreaAverage/unit_cell_volume)
	
	return 1e4*SurfaceAreaAverage/unit_cell_volume
def vsa(atom_type, pos, cell_matrix, inverse_matrix, unit_cell_volume, probe_diameter=1.0, nSample=20, total=0, equilibrium_distance=0.0):
	"""
	Computes the volumetric surface area (VSA) of atoms. Return VSA in m^2/cm3.

	atom_type : type of atom
	pos : coordinates
	cell_matrix : Crystall cell matrix (A, B, C)
	probe_diameter : Diameter of a probe
	nSample : Number of sample probes
	equilibrium_distance = Equilibrium distance upon probe and atom in structure
	"""
	counted = 0.0
	vec = np.zeros((1,3), float)
	SurfaceAreaAverage = 0.0
	well_depth_factor = 1.0
	fractional_list = []

	# start enumerating all atoms in the framework
	for i, elem in enumerate(atom_type):
		total = 0.0
		counted = 0.0
		vdW_fAtom = vdw_radii.get(elem)
		# Lorentz rule of mixing hard spheres 
		equilibrium_distance = well_depth_factor * 0.5 * (probe_diameter + vdW_fAtom)

		# start MC sampling for a given #
		for attempt in range(nSample):
			pAtom = np.array([0.0, 0.0, 0.0], float)
			total += 1
			# find a random number around the sphere
			vec = RandomNumberOnUnitSphere()
			# calculate the coordinates of the center of probe using vec and equilibrium distance
			fAtom_xyz = _dot_product(cell_matrix, pos[i])
			pAtom[0] = fAtom_xyz[0] + vec[0]*equilibrium_distance
			pAtom[1] = fAtom_xyz[1] + vec[1]*equilibrium_distance
			pAtom[2] = fAtom_xyz[2] + vec[2]*equilibrium_distance

			# check for the overlap between probe and the other framework atoms
			overlap = CheckSurfaceAreaOverlap(pAtom, pos, cell_matrix, atom_type, probe_diameter, pos[i], inverse_matrix)
			if not overlap:
				counted += 1

		tmp = (counted/total)*4.0*PI*(equilibrium_distance * equilibrium_distance)

		SurfaceAreaAverage += tmp
		fractional_list.append([elem[0], counted / total, tmp, 1.0e4*tmp/unit_cell_volume])
		# print(i, " out of ", len(atom_type))

	# fractional_list.sort(key=itemgetter(0))

	# file_out = open('freq.txt', 'w')
	# for index, items in groupby(fractional_list, itemgetter(0)):
	# 	sum_area = 0.0
	# 	for atom in items:
	# 		sum_area += atom[2]
	# 		file_out.write('\t'.join(str(i) for i in atom) + '\n')

	return 1.0e4*SurfaceAreaAverage/unit_cell_volume

def get_cif_file(number):
  return './mofsxml/mof_unit_'+str(number)+'.cif'

def surface_area(number, type, nSample):
  cifname = get_cif_file(number)
  cell_matrix, inverse_matrix, unit_cell_volume = get_box_matrix(cifname)
  atom_type, pos = get_atomic_coordinates(cifname)
  if type=="gsa":
    gsa_sum = 0
    for i in set(atom_type):
        gsa_ = gsa(atom_type, pos, cell_matrix, inverse_matrix, unit_cell_volume, probe_diameter=3.40, nSample=nSample, InsertTypeOfAtoms=i)
        gsa_sum += gsa_
    return gsa_sum / 1.66053
  if type=="vsa":
    return vsa(atom_type, pos, cell_matrix, inverse_matrix, unit_cell_volume, probe_diameter=3.40, nSample=nSample)

In [ ]:
surface_area(1, "gsa", 300)

/usr/local/lib/python3.7/dist-packages/ase/io/cif.py:404: UserWarning: crystal system 'triclinic' is not interpreted for space group 1. This may result in wrong setting!
  setting_name, spacegroup))

650.2219424809276

In [ ]:
surface_area(1, "gsa", 300)

/usr/local/lib/python3.7/dist-packages/ase/io/cif.py:404: UserWarning: crystal system 'triclinic' is not interpreted for space group 1. This may result in wrong setting!
  setting_name, spacegroup))

583.1553311893167

In [ ]:
surface_area(1, "gsa", 300)

/usr/local/lib/python3.7/dist-packages/ase/io/cif.py:404: UserWarning: crystal system 'triclinic' is not interpreted for space group 1. This may result in wrong setting!
  setting_name, spacegroup))

607.3872504232672

In [ ]:
surface_area(1, "gsa", 3000)

/usr/local/lib/python3.7/dist-packages/ase/io/cif.py:404: UserWarning: crystal system 'triclinic' is not interpreted for space group 1. This may result in wrong setting!
  setting_name, spacegroup))

594.1918288212856

In [ ]:
df[df['surface_area [m^2/g]']==0]

              MOFname  ...  CO2_working_capacity [mL/g]
0          mof_unit_1  ...                   105.284502
4          mof_unit_5  ...                    79.210001
11        mof_unit_12  ...                   101.964812
13        mof_unit_14  ...                   133.371121
19        mof_unit_20  ...                   136.387400
...               ...  ...                          ...
68589  mof_unit_68590  ...                    -3.478823
68593  mof_unit_68594  ...                    -3.792634
68595  mof_unit_68596  ...                    -4.115523
68609  mof_unit_68610  ...                   -12.985582
68612  mof_unit_68613  ...                     3.144708

[11609 rows x 13 columns]

In [ ]:
df[df['heat_adsorption_CO2_P0.15bar_T298K [kcal/mol]'].isna()]

              MOFname  ...  CO2_working_capacity [mL/g]
66533  mof_unit_66534  ...                    12.718818
66539  mof_unit_66540  ...                     6.162638
66544  mof_unit_66545  ...                     4.162900
66546  mof_unit_66547  ...                     8.119455
66549  mof_unit_66550  ...                     6.030742
...               ...  ...                          ...
68581  mof_unit_68582  ...                    -2.740601
68589  mof_unit_68590  ...                    -3.478823
68593  mof_unit_68594  ...                    -3.792634
68595  mof_unit_68596  ...                    -4.115523
68609  mof_unit_68610  ...                   -12.985582

[191 rows x 13 columns]

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/k4kirin/mofsxml/main/train.csv',keep_default_na=True)
df[df.isna()]

      MOFname  ...  CO2_working_capacity [mL/g]
0         NaN  ...                          NaN
1         NaN  ...                          NaN
2         NaN  ...                          NaN
3         NaN  ...                          NaN
4         NaN  ...                          NaN
...       ...  ...                          ...
68608     NaN  ...                          NaN
68609     NaN  ...                          NaN
68610     NaN  ...                          NaN
68611     NaN  ...                          NaN
68612     NaN  ...                          NaN

[68613 rows x 14 columns]